# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
TAGS
st-flash.log
cruft
src/build
weights.c
weights.h
arb.c
arb.h
arb.csv
ChibiOS
NNet/NNet
checkout.txt
.dep